<h1>NGINX on {{ ansible_host }}</h1>

<pre>
Privisioned by Ansible
Running on {{ ansible_hostname }}

Distribution: {{ ansible_distribution }}
Family: {{ ansible_distribution_file_variety }}
Version: {{ ansible_distribution_release }} {{ ansible_distribution_version }}
</pre>
