<!DOCTYPE html>
<html>
<head>
	<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<p>&nbsp;</p>
<h1 style="text-align: center;">Baked by Packer</h1>
<h1 style="text-align: center;">Provisioned by Ansible</h1>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Ansible_logo.svg/2000px-Ansible_logo.svg.png" height="359" width="284"/></p>
</body>
</html>